:root {
  --purple-light: #7e3af2;
  --purple-dark: #6c2bd9;
  --orange-light: #feecdc;
  --orange-dark: #ff5a1f;
  --blue-light: #e1effe;
  --blue-dark: #3f83f8;
  --green-light: #def7ec;
  --green-dark: #0e9f6e;
  --teal-light: #d5f5f6;
  --teal-dark: #0694a2;
  --red-light: #fde8e8;
  --red-dark: #e02424;
  --gray-light: #f4f5f7;
  --gray-dark: #24262d;
  --white: #ffffff;
  --gray-border: #e6e7e9;
}

* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Roboto, Helvetica, Arial;
  margin: 0;
}

body {
  color: var(--gray-dark);
  background-color: var(--gray-light);
  min-height: 500px;
}

h2 {
  padding-top: 20px;
  font-size: 1.5em;
}

h3 {
  padding-bottom: 15px;
}

h5 {
  margin-top: 11px;
  font-size: 1em;
}

input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 5px 10px;
}

hr {
  margin: 15px 0;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.selected {
  color: black !important;
  border-left: 4px inset var(--purple-light);
}

/* ----------------------- Login ----------------------- */
.main-container {
  height: 100vh;
  border-radius: 5px;
  box-shadow: 3px 3px 10px lightgray;
  margin: 30px 20px;
  max-width: 1024px;
}

.image-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 20%;
  background-image: url("images/flat-lay-photo-office-desk-with-laptop-copy-space-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.input-container {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.email-container,
.pass-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

/* ----------------------- Index ----------------------- */

.left-col {
  background-color: var(--white);
  font-size: 0.8em;
  padding: 10px;
}

[class^="options"] {
  display: flex;
  align-items: center;
  color: gray;
}

.left-col i {
  padding: 10px;
  margin: 0;
}

.profile-img {
  border-radius: 50%;
  height: 22px;
  background-color: var(--teal-light);
  margin-bottom: -4px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  background-color: var(--white);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  background-color: var(--gray-light);
  width: 70%;
  border-radius: 5px;
  display: flex;
}

.search-bar input {
  margin-top: 6px;
  border: none;
  background-color: var(--gray-light);
  width: 100%;
}

.navbar i {
  color: var(--purple-dark);
}

.main-index {
  font-size: 0.8em;
  padding: 15px;
  padding-bottom: 0;
  background-color: var(--gray-light);
  display: flex;
  flex-direction: column;
}

.dash-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple-light);
  color: var(--gray-light);
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
}

.dash-bar a {
  color: var(--gray-light);
}

.dash-bar h5 {
  margin: 0;
}

.dash-bar > div {
  display: flex;
  align-items: center;
}

.info-container {
  display: flex;
  align-items: center;
  background-color: var(--white);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--gray-border);
}

.index-table {
  font-size: 0.8em;
  margin-top: 20px;
  border: 1px solid var(--gray-border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.index-tbody {
  background-color: var(--white);
}

td {
  padding: 5px 10px;
  text-align: center;
  margin: auto;
}

.flex-row {
  display: flex;
}

.flex-row h5 p {
  display: block;
}

.first-col {
  text-align: left;
}

.foot-container-index {
  padding: 10px 25px 20px;
  margin: 0 15px;
  font-size: 0.7em;
  background-color: var(--gray-light);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid var(--gray-border);
}

.foot-row-2 {
  display: flex;
}

.foot-icon {
  margin: 10px 0 0 25px;
  padding-top: 5px;
}

.selected-btn {
  background-color: var(--purple-dark);
  color: var(--gray-light);
  padding: 5px 10px;
  border-radius: 5px;
}

/* ----------------------- Links ----------------------- */
a {
  color: var(--purple-dark);
  font-weight: 600;
  font-size: 0.8em;
  text-decoration: none;
  margin-top: 10px;
}
i {
  margin: 5px;
}

/* ----------------------- Buttons ----------------------- */
.login-btn {
  padding: 8px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-color: var(--purple-light);
  color: var(--gray-light);
}

.login-btn > a {
  color: var(--gray-light);
}

.login-btn:hover {
  background-color: var(--purple-dark);
  transition: 0.3s;
}

.git-btn,
.twitter-btn {
  padding: 8px;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid rgba(211, 211, 211, 0.432);
  background-color: var(--white);
  box-shadow: 1px 1px 4px lightgrey;
  color: var(--gray-dark);
  font-size: 0.8em;
  font-weight: 600;
}

.git-btn > a {
  color: var(--gray-dark);
  font-size: 1em;
}

.git-btn:hover,
.twitter-btn:hover {
  background-color: var(--purple-light);
  color: var(--gray-light);
  transition: 0.3s;
}

/* ----------------------- Icons ----------------------- */

.far {
  margin-left: 15px;
}
.fas {
  border-radius: 50%;
  padding: 8px;
  margin-right: 10px;
}

.fa-users {
  color: var(--orange-dark);
  background-color: var(--orange-light);
}

.fa-money-check-alt {
  color: var(--green-dark);
  background-color: var(--green-light);
}

.fa-cart-arrow-down {
  color: var(--blue-dark);
  background-color: var(--blue-light);
}

.fa-comment-alt-dots {
  color: var(--teal-dark);
  background-color: var(--teal-light);
}

.mark {
  background-color: var(--green-light);
  color: var(--green-dark);
  font-size: 0.8em;
  font-weight: 600;
  padding: 2px;
  border-radius: 10px;
  width: 50px;
  margin: auto;
}

.approved {
  background-color: var(--green-light);
  color: var(--green-dark);
}
.denied {
  background-color: var(--red-light);
  color: var(--red-dark);
}

.expired {
  background-color: var(--gray-light);
  color: var(--gray-dark);
}

/* ----------------------- Media Queries ----------------------- */

@media only screen and (min-width: 480px) {
  /*Login*/
  .main-container {
    margin: 30px 50px;
  }
  .input-container {
    padding: 20px 50px;
  }

  /*Index*/
}
@media only screen and (min-width: 768px) {
  /*Login*/

  .hidden {
    display: block;
  }

  .main-container {
    display: flex;
  }
  .image-container {
    width: 50%;
    height: 100%;
    background-size: cover;
  }
  .input-container {
    width: 50%;
    padding: 0px 50px;
  }

  /*Index*/
  .wrapper {
    display: flex;
  }
  .left-col {
    width: 20%;
  }
  .right-col {
    width: 80%;
  }

  .info-container-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas:
      "cont1 cont2"
      "cont3 cont4";
  }

  .cont1 {
    grid-area: cont1;
  }
  .cont-2 {
    grid-area: cont2;
  }
  .cont3 {
    grid-area: cont3;
  }
  .cont4 {
    grid-area: cont4;
  }
}
@media only screen and (min-width: 1024px) {
  /*Login*/
  .main-container {
    margin: 30px auto;
  }

  /*Index*/
  .info-container-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "cont1 cont2 cont3 cont4";
  }
}
